@import '~bootstrap/scss/bootstrap';

.rack {
    text-align: center;
    border: 2px solid black;
    width: 75%;
    height: 500px;
}

.pan {
    color: pink;
    position: relative;
    top: 15px;
}

.dumb {
    text-align: left;
}